body {
    font-family: 'Roboto', sans-serif;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(8, auto);
    grid-gap: 0;

    width: 640px;
    height: 640px;
    margin: 0 auto;

    user-select: none;

    .square {
        display: flex;
        width: 10vw;
        height: 10vw;
        max-width: 80px;
        max-height: 80px;
        position: relative;
        align-items: center;
        justify-content: center;
        box-sizing: border-box; 

        &:hover {
            border: 3px solid #333;
        }

        &.original {
            border: 2px solid white;
        }

        .fileLabel {
            position: absolute;
            bottom: 2px;
            left: 4px;
            color: white;
        }

        .rankLabel {
            position: absolute;
            top: 2px;
            right: 4px;
            color: white;
        }

        img[src*="#"] {display:none;}

        img {
            display: block;
            width: 90%;
            height: 90%;
            border: none;

            &:hover {
                cursor: pointer;
            }
        }
    }

    img.ghostPiece {
        position: fixed;
        opacity: 0.8;
        pointer-events : none;
    }
}